*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 90vh;
    background: linear-gradient(to left, #090909, #282828);
}
header .Navbar a{
    color: white;
    text-decoration: none;
    border: double;
    padding: 5px;
}
header .Navbar .Logo{
    margin: 10px 0;
    padding: 10px;
}
main{
    color: white;
}
main .Loader{
    height: 100px;
    width: 100px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1s infinite;
}
@keyframes loader{
    to{
        transform: rotate(360deg);
    }
    right{
        transform: rotate(-360deg);
    }
}
main .Container{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .Container h1{
    font-size: 40px;
    margin: 20px 0;
}
main .Option{
    text-align: center;
}
.Option div{
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #090909;
    margin: 20px 0;
    cursor: pointer;
}
.Container h1{
    font-family: cursive;
}
.Container button{
    padding: 5px;
    width: 100%;
    max-width: 250px;
    color: white;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(120, 122, 238), rgb(63, 12, 231));
}
button:hover{
    box-shadow: 0 0 10px;
}
.Container{
    padding: 20px;
    text-align: center;
}